{% extends "base.html" %}
{% load static %}
{% block header %}
{% include 'header2.html' %}
{% endblock header %}
{% block content %}
<!-- include the header -->


<div class="main">
  <div class="page-title">Review your order</div>
    <div class="checkout-grid">
      <div class="order-summary">
        {% for item in items %}
        <div class="cart-item-container">
          <div class="delivery-date">
            Saturday, April 18, 2025
          </div>

          <div class="cart-item-details-grid">
            <img class="product-image"
              src="{{ item.product.image.url }}">

            <div class="cart-item-details">
              <div class="product-name">
                {{ item.product.name }}
              </div>
              <div class="product-price">
                Prix {{ item.product.price }} TND
              </div>
              <div class="product-quantity">
                <div class="item-row" style="display: flex; align-items: center; gap: 10px;">
                  <span>
                    Quantity: <span class="quantity-label">{{ item.quantity }}</span>
                  </span>
                
                  <div class="quantity-link">
                    <div class="update-quantity-link link-primary">
                      <img data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart img-arrow" src="{% static 'images/icons/arrow-up.png' %}" alt="Increase quantity" />
                      <img data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart img-arrow" src="{% static 'images/icons/arrow-down.png' %}" alt="Decrease quantity" />
                    </div>
                  </div>
                
                  <span class="delete-quantity-link link-primary update-cart" data-product="{{ item.product.id }}" data-action="delete">
                    Delete
                  </span>
                </div>
                
              </div>
                <div class="product-price total">

                    Total {{ item.get_total }} TND 
                </div>
              
            </div>
          </div>
        
        </div>
        {% endfor %}
      </div>
      
      <div class="payment-summary">
        <div class="payment-summary-title">
          Order Summary
        </div>

        <div class="payment-summary-row">
          <div>Items ({{ order.get_cart_items }}):</div>
          <div class="payment-summary-money">{{ order.get_cart_total }} TND</div>
        </div>

        <div class="payment-summary-row">
          <div>Shipping &amp; handling:</div>
          <div class="payment-summary-money">{{ order.get_shipping_cost }} TND</div>
        </div>

        <div class="payment-summary-row subtotal-row">
          <div>Total before tax:</div>
          <div class="payment-summary-money">{{ order.get_cart_totalplus_shipping }} TND</div>
        </div>

        <div class="payment-summary-row">
          <div>Estimated tax (10%):</div>
          <div class="payment-summary-money">{{ order.get_estimated_tax }} TND</div>
        </div>

        <div class="payment-summary-row total-row">
          <div>Order total:</div>
          <div class="payment-summary-money">{{ order.get_cart_totalplus_shipping_and_tax }} TND</div>
        </div>

        <button class="place-order-button button-primary"
        onclick="location.href='{% url 'orders' %}'">
          Place your order
        </button>
      </div>
    </div>

  </div>
{% endblock %}